<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>

      <div class="info__avatar">
        <a href="{{ site.baseurl }}">
            <img
              class="border-decoration"
              src="http://assets.voulipo.me/images/voulipo_avatar.jpg"
              title="Voulipo Liu"
              alt="Voulipo Liu" />
          </a>
      </div>

      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="https://www.douban.com/people/VVVVVivian/" target="_blank">豆瓣</a>
      <a class="sidebar-nav-item" href="https://weibo.com/bluevivian1989" target="_blank">微博</a>
      <a class="sidebar-nav-item" href="https://huaban.com/vvvvvivian" target="_blank">花瓣</a>
    </nav>
  </div>
</div>
